textarea::-webkit-scrollbar-track {
background-color: #F5F5F5;
}
textarea::-webkit-scrollbar {
width: 4px;
background-color: #F5F5F5;
}
textarea::-webkit-scrollbar-thumb {
background-color: #bfbfbf;
}
textarea::-webkit-scrollbar-corner {
background: #F5F5F5;
}
textarea::-webkit-resizer {
background: #F5F5F5;
}

.contact-all{
width: 100%;
display: block;
margin: 0 auto;
padding: 10px 5% 40px 5%;
font-size: 1rem;
height: auto;
background: #E1E1E1;
}

.contact-wrapper {
width: 100%;
display: block;
}

.contact-wrapper div {
clear: both;
margin: 15px 0;
}

.contact-wrapper label {
width: 100%;
display: inline-block;
float: none;
font-size: 1.1rem;
}

form#contactform input {
width: 100%;
display: inline-block;
padding: 2px 5px;
font-size: 16px;
color: #434343;
background: #F5F5F5;
border: 0px;
font-size: 1rem;
}

form#contactform input.submit {
cursor: pointer;
font-size: 1.1rem;
}

form#contactform input.submit:hover {
background: #CDCDCD;
}

form#contactform textarea {
width: 100%;
display: inline-block;
padding: 10px;
color: #434343;
background: #F5F5F5;
border: 0px;
font-size: 1rem;
}

#email-error, #subject-error, #contactname-error, #message-error, #digits-error{
font-size: 0.9rem !important;
color: #434343;
margin: 0 !important;
padding: 0 !important;
}

#successfully{
width: 100%;
display: inline-block;
margin-top: 25px;
margin-bottom: 15px;
background: #E1E1E1;
padding: 8px;
text-align:center;
font-size: 1.2rem;
}

img.captcha{
border: 0px;
margin: -4px 0 0 0;
padding: 0px;
}


/*==========================================================================*/


.faq-section{
margin-bottom: 25px;
}

.faq-section input, .faq-section .full-answer{
display: none;
}

.faq-section .short-answer{
width: 100%;
padding: 10px;
display: inline-block;
overflow: hidden;
background: #DFDFDF;
font-size: 0.9rem;
text-overflow: ellipsis;
white-space: nowrap;
}

.faq-section .full-answer{
width: 100%;
padding: 25px 10px 30px 10px;
display: none;
overflow: visible;
background: #E9E9E9;
font-size: 1.1rem;
text-overflow: clip;
white-space: normal;
}

.faq-section input[type=checkbox]:checked~.short-answer{
display: none;
}

.faq-section input[type=checkbox]:checked~.full-answer{
display: inline-block;
}

.faq-section label{
font-size: 1.15rem;
cursor: pointer;
background: #D5D5D5;
display: inline-block;
position: relative;
padding: 10px;
width: 100%;
margin: 0px;
}

.faq-section label:hover{
background: #BCBCBC;
}

.faq-section input[type=checkbox]:checked~label{
background: #777777;
color: #DDDDDD;
}

.faq-section label::before{
content: '';
position: absolute;
right: 4px;
bottom: 12%;
margin-top: -6px;
border: 6px solid transparent;
border-left-color: inherit;
}

.faq-section input[type=checkbox]:checked~label::before{
border: 6px solid transparent;
border-top-color: inherit;
margin-top: -3px;
right: 10px;
}


/*==========================================================================*/


@media (max-width: 400px) {

.contact-wrapper label {
font-size: 0.95rem;
}

form#contactform input {
font-size: 0.9rem;
}

form#contactform input.submit {
font-size: 0.95rem;
}

form#contactform textarea {
font-size: 0.9rem;
}

#email-error, #subject-error, #contactname-error, #message-error, #digits-error{
font-size: 0.85rem;
}

.faq-section .short-answer{
font-size: 0.85rem;
}

.faq-section .full-answer{
font-size: 1rem;
}

.faq-section label{
font-size: 1rem;
}

}
